{
  "openapi": "3.1.0",
  "info": {
    "title": "AskAstroBot — Career Astrology",
    "version": "v2.0.0",
    "description": "Sends a career-focused chart query (D1 + D10 + D9) to the AskAstroBot gateway."
  },
  "servers": [
    { "url": "https://api.askastrobot.com" }
  ],
  "paths": {
    "/v1/gpt/career/query": {
      "post": {
        "operationId": "sendCareerQuery",
        "summary": "Send a career astrology query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["year","month","day","hours","minutes","latitude","longitude","timezone","query_text"],
                "properties": {
                  "year":      {"type":"integer"},
                  "month":     {"type":"integer", "minimum":1, "maximum":12},
                  "day":       {"type":"integer", "minimum":1, "maximum":31},
                  "hours":     {"type":"integer", "minimum":0, "maximum":23},
                  "minutes":   {"type":"integer", "minimum":0, "maximum":59},
                  "latitude":  {"type":"number"},
                  "longitude": {"type":"number"},
                  "timezone":  {"type":"number"},
                  "query_type":{"type":"string"},
                  "query_text":{"type":"string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Astro context, paywall response, or management response." },
          "401": { "description": "Missing/invalid bearer — ChatGPT silently re-auths." },
          "503": { "description": "Astro engine temporarily unavailable." }
        }
      }
    }
  }
}
