{
  "openapi": "3.1.0",
  "info": {
    "title": "AskAstroBot — Prashna (Ask Any Question)",
    "version": "v2.0.0",
    "description": "Sends a Prashna (horary) query to the AskAstroBot gateway, which authenticates the user, enforces the free-tier limit, and forwards the call to the astro engine."
  },
  "servers": [
    { "url": "https://api.askastrobot.com" }
  ],
  "paths": {
    "/v1/gpt/prashna/query": {
      "post": {
        "operationId": "sendPrashnaQuery",
        "summary": "Send a horary (Prashna) query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["year","month","day","hours","minutes","latitude","longitude","timezone","query_text"],
                "properties": {
                  "year":      {"type":"integer", "description":"Year the question is being asked (UTC date components ok if local not available)"},
                  "month":     {"type":"integer", "minimum":1, "maximum":12},
                  "day":       {"type":"integer", "minimum":1, "maximum":31},
                  "hours":     {"type":"integer", "minimum":0, "maximum":23},
                  "minutes":   {"type":"integer", "minimum":0, "maximum":59},
                  "latitude":  {"type":"number", "description":"Latitude of the place where the question is being asked"},
                  "longitude": {"type":"number"},
                  "timezone":  {"type":"number", "description":"Hours offset from UTC, e.g. 5.5 for India"},
                  "query_type":{"type":"string", "description":"Optional bucket label, e.g. 'career', 'marriage', 'subscription'"},
                  "query_text":{"type":"string", "description":"The user's question in plain language. Set to 'manage_subscription' to trigger the management flow."}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Either the astro context payload, the paywall response, or the subscription-management response.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "type": "object", "description": "Free-tier paywall response", "properties": {
                      "status": {"const": "free_limit_reached"},
                      "message": {"type":"string"},
                      "upgrade_url": {"type":"string"},
                      "options": {"type":"array", "items":{"type":"object"}},
                      "instruction_to_model": {"type":"string"}
                    }},
                    { "type": "object", "description": "Subscription management response", "properties": {
                      "status": {"const":"subscription_management"},
                      "message": {"type":"string"},
                      "manage_url": {"type":"string"},
                      "instruction_to_model": {"type":"string"}
                    }},
                    { "type": "object", "description": "Astro context payload (forwarded from upstream)" }
                  ]
                }
              }
            }
          },
          "401": { "description": "Missing or invalid bearer — ChatGPT will silently re-auth." },
          "503": {
            "description": "Astro engine is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"const":"upstream_unavailable"},
                    "message": {"type":"string"}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
