{
  "openapi": "3.1.0",
  "info": {
    "title": "AskAstroBot \u2014 Prashna",
    "version": "v2.0.0"
  },
  "servers": [
    {
      "url": "https://api.askastrobot.com"
    }
  ],
  "paths": {
    "/v1/gpt/prashna/query": {
      "post": {
        "operationId": "sendPrashnaQuery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "year",
                  "month",
                  "day",
                  "hours",
                  "minutes",
                  "latitude",
                  "longitude",
                  "timezone",
                  "query_text"
                ],
                "properties": {
                  "year": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12
                  },
                  "day": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31
                  },
                  "hours": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "minutes": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 59
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "timezone": {
                    "type": "number"
                  },
                  "query_type": {
                    "type": "string"
                  },
                  "query_text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
